.header {
    background-color: #ABC4FF;
}
.header .headerCont {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header ul {
    display: flex;
   
}
.header li{
    list-style: none;
    padding: 44px 70px;
    max-width: 244px;
    
}
.header li:hover {
    background-color: #606FC3;
    opacity: .6;
    border-radius: 35px;
    
} 
.header li a {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}
.header li:last-child {
    margin-right: none;
}
