.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
#root {
    background-color: #ffffff;
}
* {
    text-decoration: none;
}
footer {
    position: relative;
    z-index: 2;
}
html, body, #root {
    height: 100%;
    margin: 0;
}
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1 0 auto;
    width: 100%;
}
  