.message {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.left {
    margin-bottom: 60px;
}
.right {
    margin-bottom: 40px;
    margin-left: -65px;
    display: flex;
    justify-content: flex-end;
}
.message img {
    position: absolute;
    bottom: 0px;
    user-select: none;
}
.right img {
    transform: rotateY(3.142rad);
    right: -65px;
}
.left img {
    left: -65px;
}
.message p {
    position: relative;
    padding: 30px 20px 30px 50px;
    line-height: 1.5;
    color: #929DF6;
    font-size: 24px;
    margin-left: 65px;
    border-radius: 20px;
    font-weight: 600;
    user-select: none;
}
.left p {
    width: 100%;
    max-width: 700px;
}
.right p {
    width: 100%;
    max-width: 650px;
}
.message span {
    position: absolute;
    bottom: 10px;
    right: 24px;
    margin: 0 auto;
    color: #929DF6;
    font-size: 20px;
    font-weight: 300;
}
.venom img {
    filter: brightness(0) saturate(100%) invert(81%) sepia(32%) saturate(387%) hue-rotate(204deg) brightness(94%) contrast(88%);
}
.light p{
    background: #FDCCD9;
    color: #929DF6;
}
.venom p {
    background: #C2BEE1;
    color: #606FC3;  
}
@media (max-width: 1280px) {
    .left {
        margin-bottom: 45px;
    }
    .message p {
        font-size: 16px;
        padding: 20px 40px 25px 30px;
    }
    .message span {
        font-size: 14px;
    }
    .left p {
        max-width: 570px;
    }
    .right p {
        max-width: 520px;
    }
    .right {
        margin-bottom: 20px;
    }
    
}
@media (max-width: 820px) {
    .left {
        margin-bottom: 20px;
    }
    .message img {
        display: none;
    }
    .message p {
        margin-left: 0px;
        font-size: 14px;
    }
    .right {
        margin-left: 0;
    }
    .left p {
        max-width: 390px;
    }
    .right p {
        max-width: 350px;
    }
}
@media (max-width: 520px) {
    .message p {
        font-size: 12px;
        padding: 22px 13px 22px 25px;
    }
    .left p {
        max-width: 230px;
    }
    .right p {
        max-width: 230px;
    }
    .message span {
        font-size: 10px;
    }
}